*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

*::after ::before{
box-sizing: border-box;
}
.header{
 background-image: url(images/testimonial/intro-bg.jpg);
background-size: cover;
background-position: center center;
background-attachment: fixed;
height: 100vh;
width:100%;
}
.box{
    position: fixed;
    right:0;
    top:200px;
    width: 40px;
    height: 40px;
    z-index: 55555555;
    background-color: #2f3438;
    border-radius: 4px;
    box-shadow: 0 2px 3px #6c757d;
}
.navbar{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:0 40px;
    align-items: center;
    position:fixed ;
    right: 0;
    left: 0;
    top:0;
    background-color:rgba(0,0,0,0.7);
    height:70px;
    z-index: 9999999999999999999999999;
}

.links ul{
 display: flex;
 flex-wrap: nowrap;
position: relative;
align-self: center;
right:220px;
}
.links li{
    margin-left: 20px;
    list-style: none;
    padding-left: 0;
    font-size: 19px;
    font-family:"Poppins", sans-serif ;
}

.links a{
    text-decoration: none;
    color: #fff;
}
.links a:hover{
    color: #20c997;
}
.caption{

    width:500px;
    text-align: center;
    color: aliceblue;
   
    
}
#color-link{
    color: #20c997;
}
.cover{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height:100%;
    display:flex;
justify-content: center;
align-items: center;
}
.caption span{
font-family: "Poppins", sans-serif;
font-size:28px;
font-weight:500 ;
color:#fff;
margin-bottom:8px;
line-height:1.8 ;
}

.caption h1{
margin-bottom: 8px;
line-height: 1.3;
font-weight: 600;
color: #fff;
font-size: calc(1.525rem + 3.3vw);
font-family: "Poppins", sans-serif;

}
.caption p{
    color: #dee3e4;
    font-size: 1.3125rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
}
.caption button{
padding:0.81rem 2rem;
margin-top: 0.5rem;
color:#20c997 ;
line-height: 1.5;
background-color:transparent ;
border-radius:50rem ;
border:2px solid #20c997;
font-weight: 600;
transition: all 0.5s ease ;
}
.caption a{
    text-decoration: none;
    color:#20c997 ;
    transition: color 0.5s ease;
}
.caption button:hover{
    background-color: #20c997 ;
}
.caption button:hover a{
    color: #fff;
}


                   /* part-two */

.parent{
    height:200px;
    align-items: center;
    margin-bottom: 48px;
}
.head{
    padding-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top:80px;
   
}
.head h2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
   font-size: 2.25rem ;
   color:#212529;
   line-height: 1.5;
   
}
.head h2::before{
    content: "ABOUT ME";
    position: absolute;
    color:#dee3e4;
    font-size: calc(1.70rem + 8.4vw);
    font-weight:600 ;
    font-family: "Poppins", sans-serif ;
    z-index:-333;
    opacity:0.4;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.head h2::after{
    content:"" ;
    position:absolute;
    border-bottom: #20c997 3px solid;
    width: 80px;
    z-index: 4444444444444444444;
   top:70px;
}
.section-two{
    width: 100%;
    height: 380px;
}
.about{
    display: flex;
    flex-wrap: nowrap;
    justify-items:space-evenly;
    align-items: center;
    position: absolute;
    left: 100px;

}

 .coco{
  background-color: #178b69;
    padding: 0 12px;
    margin-top: 48px;
    width: 376px;
    height: 340.766px;
    margin-left: 20px;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
 }
 .coco li{
    border-bottom: solid 1px #eaeaea;
    list-style: none;
    color:#4c4d4d;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Poppins", sans-serif;
    font-size:1rem ;
    font-weight:400 ;
    line-height: 1.5;
 }
 .coco a{
    text-decoration: none;
    color: #20c997;
    transition: color 0.5s ease;
 }
 .coco a:hover{
   color: #178b69;
 }
 .nono span{
 color:black;
 font-weight: 600;
 }
 
 .coco button{
    background-color: #20c997;
    color: #fff;
    padding: 0.8rem 2.6rem;
    border-radius: 50rem;
    border: 2px #20c997 ;
    font-family:"Poppins", sans-serif ;
    font-weight:500 ;
    transition: all 0.5s ease;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
 }
 .coco button a{
    text-decoration: none;
    color: #fff;
   
 }
 .coco button:hover{
    background-color: #178b69;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
 }
 .coco button:hover a 
 {
    color: red ;
 }
 .momo{

    width: 750px;
    height: 340.766px;
    padding: 0 12px;
    margin-top: 48px;
    text-align: left;
    color: #4c4d4d;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
 }
 .momo h3{
 color:#252b33;
 font-size:1.75rem ;
 font-weight:600 ;
 font-family: "Poppins", sans-serif ;
 margin-bottom:1rem ;
 line-height: 1.2;
 }
 .momo span{
 color:#20c997;
 }

 .momo p{
    color:#4c4d4d;
    font-size:1rem ;
    font-family:  "Poppins", sans-serif;
    margin-bottom:1rem ;
    line-height: 1.8;
 }

.items{
 text-align: center;
 display: flex;
 height: 260px;
 justify-content: center;
 justify-content: space-around;
 align-items: center;

}

.item{
 width:25%;
 flex:0 1 auto;
 position: relative;
}
.item h4{
color: #6c757d;
font-size: calc(1.425rem + 2.1vw) ;
font-family:"Poppins", sans-serif;;
font-weight: 500;
line-height: 1.3;
}
.item p{
 line-height: 1.8;
 color: #4c4d4d ;
 font-size: 1rem;
font-family:"Poppins", sans-serif;;

}
.border{
border: #dee3e4 dotted 1px;
height: 110px;
}

                        /* part three */
.section-three{
    background-color: #f8f9fa ;
    padding-top: 90px;
    padding-bottom: 45px;
}
.services{
    margin-bottom:120px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services h2{
    position: absolute;
    color:#dee3e4;
    font-size: calc(1.70rem + 8.4vw);
    font-weight:600 ;
    font-family: "Poppins", sans-serif ;
    z-index:-333;
    opacity:0.4;
    z-index:1 ;
}
.services p{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
   font-size: 2.25rem ;
   color:#212529;
   z-index: 444444444444444444444444444444444;
   line-height: 1.5;
   position: relative;
}

.services p::after{
    content:"" ;
    position:absolute;
    border-bottom: #20c997 3px solid;
    width: 80px;
    z-index: 4444444444444444444;
   top:70px;
}
.logos{
 display: flex;
 background-color: #f8f9fa;
 flex-wrap: wrap;
 text-align: left;
 justify-content: center;
 justify-content: space-around(70px);

}
.logo img{
    width:75px;
    height: 65px;
    position: absolute;
    left:2px;
    box-shadow: 0 5px 10px rgba(0,0,0,5%);
}
.logo{
width: 40%;
 flex: 0 1 auto;
 padding-left: 100px;
    color: #4c4d4d;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
    position: relative;
  
}
.icon h4{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #252b33;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
}
.icon p{
    line-height: 1.8;
    color: #4c4d4d;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
                        /* part four */
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}
.resume h2{
    position: absolute;
    color:#dee3e4;
    font-size: calc(1.70rem + 8.4vw);
    font-weight:600 ;
    font-family: "Poppins", sans-serif ;
    z-index:-333;
    opacity:0.4;
    z-index:1 ;
}
.resume p{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
   font-size: 2.25rem ;
   color:#212529;
   z-index: 444444444444444444444444444444444;
   line-height: 1.5;
   position: relative;
}

.resume p::after{
    content:"" ;
    position:absolute;
    border-bottom: #20c997 3px solid;
    width: 80px;
    z-index: 4444444444444444444;
   top:70px;
}
.section-four{
    padding-top: 30px ;
}
.height{
    display: flex;
    flex-wrap: wrap;
    width:40%;
    margin-left: 50px;
    text-align: left;
}
.container{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    text-align: left;
}
.height h3{
    font-weight: 600;
    font-size: 1.50rem;
    margin-bottom: 1.5rem;
    color: #252b33;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    text-align: left !important;
}
.nomper{
    border-radius: 0.25rem;
    border:1px solid #dee2e6 ;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    flex:0 1 auto;
}
.bobo{
background-color: #20c997;
border: #20c997 1px solid ;
font-size: 0.875rem;
font-family: "Poppins", sans-serif;
display: inline-block;
color: #fff;
border-radius: 0.25rem;
padding: 0.35em 0.65em;
line-height: 1;
margin-bottom: 16px;
}

.nomper h4{
    font-size: 19px ;
    color: #252b33;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    margin-bottom: 8px;
}
.nomper h5{
    color: #dc3545;
    line-height: 1.8;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.soso{
    line-height: 1.8;
    color: #4c4d4d;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.father{
 
    display: flex;
    flex-wrap: wrap;
justify-content:space-evenly;
margin-left: 30px;
margin-bottom: 50px;

}
.koko{
    
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
   align-content: space-between;
   margin-bottom: 0.5rem;

   flex: 0 1 auto;
   padding: 15px;

}
.koko p{
    font-weight: 500;
    color: #212529;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
}
.koko span{
    font-weight: 500;
    color: #212529;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
}
.high{
    width:40%;
    margin-left: 50px 0;
    flex: 0 1 auto;
}
.mama{
    border-bottom: #e9ecef 7px solid;
    border-radius: 7px ;
    width:100%;
    height:7px ;
 
}
.child{
    border-bottom: #20c997 7px solid;
    border-radius: 7px ;
    height:7px ;
    width:65%;
}
.lolo{
    width:95%;
    border-bottom: #20c997 7px solid;
    border-radius: 7px ;
    height:7px ;
}
.bosbos{
    width:88%;
    border-bottom: #20c997 7px solid;
    border-radius: 7px ;
    height:7px ;
}
.novo{
    width:70%;
    border-bottom: #20c997 7px solid;
    border-radius: 7px ;
    height:7px ;
}
.noma{
    width:60%;
    border-bottom: #20c997 7px solid;
    border-radius: 7px ;
    height:7px ;
}
.toto{
    width:99%;
    border-bottom: #20c997 7px solid;
    border-radius: 7px ;
    height:7px ;
}
.part-two h2{
    font-weight: 600;
    font-size: 1.50rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #252b33;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    margin-left: 120px;
}
.button-drop{
    display: flex;
    justify-content: center;
    margin:30px 0;
    margin-bottom: 40px;
}
.button-drop button{
    background-color: transparent;
    border-radius: 50rem;
   border:   #6c757d 2px solid ;
   border-color: #6c757d;
  text-align: center;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  transition: all 0.5s ease;
  font-size: 1rem;
    line-height: 1.5;
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
}
.button-drop button:hover {
    background-color: #6c757d;
color: #fff;
}
                   /* part five */
.portfolio h2{
    position: absolute;
    color:#dee3e4;
    font-size: calc(1.70rem + 8.4vw);
    font-weight:600 ;
    font-family: "Poppins", sans-serif ;
    z-index:-333;
    opacity:0.4;
    z-index:1 ;
}
.portfolio p{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
   font-size: 2.25rem ;
   color:#212529;
   z-index: 444444444444444444444444444444444;
   line-height: 1.5;
   position: relative;
}

.portfolio p::after{
    content:"" ;
    position:absolute;
    border-bottom: #20c997 3px solid;
    width: 80px;
    z-index: 4444444444444444444;
   top:70px;
}
.portfolio{
    margin-bottom:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-five{
    background-color: #f8f9fa ;
    padding-top: 90px;
    padding-bottom: 45px;

}
.icon-portfolio ul{
    display: flex;
    justify-content: center;
}
.icon-portfolio{
    margin-bottom: 20px;
}
.icon-portfolio li{
    list-style: none;
    padding: 20px;
    color: #4c4d4d;
    font-family:  "Poppins", sans-serif;
    transition: color 0.5s ease;
}
.icon-portfolio li:hover{
color: #20c997;
}
.icon-portfolio span{
    color: #20c997;
    border-bottom: 2px #20c997 solid; 
 }
 .elbos{
    display: flex;
   
 }
.items-portfolio{
    display: flex;
    flex-direction: column;
    width: 33.333%;
    align-items: center;

}

.item-portfolio{
    margin: 15px;
    border-radius: 7px;
    position: relative;
    justify-content: center;
    
}
.item-portfolio-capiton{
    background-color: #20c997;
    position: absolute;
    top:0;
    background-color: rgb(0 0 0 / 75%);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.9s ease;
    display: flex;
    flex-wrap:wrap-reverse;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 7px;
}
.item-portfolio-capiton p{
    font-family:  "Poppins", sans-serif;
    color: #dee2e6;
}
.item-portfolio-capiton h3{
color: #fff;
font-family:  "Poppins", sans-serif;
}
.item-portfolio-capiton:hover{
    opacity: 1;
}
.item-portfolio img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

                         /* part six */
.TESTIMONIAL h2{
    position: absolute;
    color:#dee3e4;
    font-size: calc(1.70rem + 8.4vw);
    font-weight:600 ;
    font-family: "Poppins", sans-serif ;
    z-index:-333;
    opacity:0.4;
    z-index:1 ;
}
.TESTIMONIAL p{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
   font-size: 2.25rem ;
   color:#212529;
   z-index: 444444444444444444444444444444444;
   line-height: 1.5;
   position: relative;
   margin:50px  0;
}

.TESTIMONIAL p::after{
    content:"" ;
    position:absolute;
    border-bottom: #20c997 3px solid;
    width: 80px;
    z-index: 4444444444444444444;
   top:70px;
}
.TESTIMONIAL{
    margin-bottom:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-six{
    background-color: #fff ;
    padding-top: 40px;
    padding-bottom: 20px;

}

.parent-TESTIMONIAL{
margin:40px  0;
display: flex;
justify-content:center;
align-items: center;
}
.child-TESTIMONIAL{
background-color: #f8f9fa;
width: 40%;
margin:50px  20px;
padding:50px 30px;
border-radius: 3px;

}
.parent-TESTIMONIAL p{
padding-top: 20px;
color: #212529;
font-weight: 500;
font-family:  "Poppins", sans-serif;
font-size: 17px;
}

.parent-tani{
    display:flex;
    justify-content: flex-start;
}
.child-photo{
    margin: 5px  12px;
}
.child-photo img{
    border-radius: 50%;
}
.child-photo h3{
color: #212529;
font-weight: 600;
font-family:  "Poppins", sans-serif;
}
.child-photo span{
    color: #6c757d;
    font-weight: 500;
font-family:  "Poppins", sans-serif;
line-height: 1.8;
}
.star img{
    width: 90px;
    height: 30px;
}
                   /* part siven */
.contact h2{
    position: absolute;
    color:#dee3e4;
    font-size: calc(1.70rem + 8.4vw);
    font-weight:600 ;
    font-family: "Poppins", sans-serif ;
    z-index:-333;
    opacity:0.4;
    z-index:1 ;
    margin: 50px 0;
}
.contact p{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
   font-size: 2.25rem ;
   color:#212529;
   z-index: 444444444444444444444444444444444;
   line-height: 1.5;
   position: relative;
   margin:50px  0;
}

.contact p::after{
    content:"" ;
    position:absolute;
    border-bottom: #20c997 3px solid;
    width: 80px;
    z-index: 4444444444444444444;
   top:70px;
}
.contact{
    margin-bottom:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-seven{
    background-color: #f8f9fa ;
    padding-top: 60px;
    padding-bottom: 50px;
   
}
.contact-parent{
display: flex;
flex-wrap: nowrap;
justify-content: space-evenly;
}
.contact-child{

width: 15%;
}
.contact-two-child{

width: 60%;
}
.contact-two-child h4{
    color:#252b33;
    font-family:"Poppins", sans-serif ;
    font-weight: 500;
    font-size: 1.3125rem;
    margin-bottom: 16px;
    line-height: 1.2;
    }
.contact-child{
    display: flex;
    flex-wrap: wrap;
    
}
.contact-child h4{
color:#252b33;
font-family:"Poppins", sans-serif ;
font-weight: 500;
font-size: 1.3125rem;
margin-bottom: 16px;
line-height: 1.2;
}
.contact-child p{
color: #4c4d4d;;
font-size:16px ;
font-family:"Poppins", sans-serif ;
font-weight: 400;
margin-bottom: 1.5rem;
line-height: 1.8;
}
.contact-child ul{
margin-bottom: 20px;
}
.contact-child li{
 margin-bottom:10px;
list-style: none;
padding-left: 0;
color:#4c4d4d;;
font-size:1rem ;
line-height: 1.8;
font-family:"Poppins", sans-serif ;
font-weight: 400;
margin-bottom:0.25rem;
}
.contact-child img{
    padding-right: 5px;
    width: 30px;
    height: 18px;
}
.contact-child h5{
    font-size: 1.3125rem;
    margin-bottom: 1rem;
    color: #252b33;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
}
.parent-form{
 
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
   
}
.name{
    width:48%;
}
.name input{
    width:100%;
    padding: 0.81rem 0.96rem;
    border-color: #dae1e3;
    font-size: 16px;
    color: #dae1e3;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.name input:focus{
    outline: none;
    border-color: #35b5dc;
box-shadow:0 5px 10px rgb(0 0 0 / 15%) ;
}
.email{
    width:48%;
}
.email input{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #dae1e3;
    font-size: 16px;
    color: #dae1e3;
    padding:  0.96rem;
    width: 100%;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.email input:focus{
 outline: none;
    border-color: #35b5dc;
box-shadow:0 5px 10px rgb(0 0 0 / 15%) ;
}

.contact-two-child textarea{
    width: 100%;
}
.form textarea{
    width: 100%;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    padding: 0.81rem 0.96rem;
    margin-top:1.5rem;
    height: 113px;
    border-color: #dae1e3;
    font-size: 16px;
    color: #dae1e3;
    background-color: #fff;
    border: 1px solid #ced4da;
    min-height: calc(1.5em + (0.75rem + 2px));
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form textarea:focus{
    outline: none;
    border-color: #35b5dc;
    box-shadow:0 5px 10px rgb(0 0 0 / 15%) ;
}
.contact-button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  
}
.contact-button button{
    background-color: #20c997;
    color: #fff;
    padding: 0.8rem 2.6rem;
    border-radius: 50rem;
    border: 2px #20c997 ;
    font-family:"Poppins", sans-serif ;
    font-weight:500 ;
    transition: all 0.5s ease;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
}
.contact-button button:hover{
    background-color: #178b69;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
}
 
                                /* footer */
.footer{
    padding: 70px 0;
}
 .footer-big-parent{
display: flex;
justify-content: space-evenly;
}
.footer-big-child{
width: 40%;
}
.footer-big-child p{
font-size:16px ;
font-family:"Poppins", sans-serif ;
color: #252b33;
line-height: 1.8;
}
.footer-big-child span{
color: #20c997;
font-size:16px ;
font-family:"Poppins", sans-serif ;
line-height: 1.8;
transition: color 0.5s ease;
}
.footer-big-child span:hover{
    color: #178b69;
}
.footer-big-child{
    display: flex;
    flex-wrap:nowrap;
    align-items: flex-end;
}

.footer-child p{
    right:30px;
    font-size:16px ;
    font-family:"Poppins", sans-serif ;
    color: #252b33;
    line-height: 1.8;
    transition: color 0.5s ease;

   margin:0 4px;
}
.footer-child p:hover{
   color: #20c997;
}
.border-footer{
    border-left: 1px solid #ced4da;
    width: 6px;
    height: 19px;
}
::selection{
    background-color: #20c997;
    color:#fff;
    text-shadow: none;
}
    
